* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(105, 4, 4);
  font-size: 18px;
}

.scrolled{
  box-shadow: -5px 5px 19px -5px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: -5px 5px 19px -5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: -5px 5px 19px -5px rgba(0, 0, 0, 0.08);
}


.right{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.cartContainer{
  display: flex;
  position: relative;
  text-decoration: none;
  color: inherit;
}

.userIcon,
.cartIcon{
  font-size: 24px;
  cursor: pointer;
}

.cartQuantity{
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #f00;
  color: #fff;
  bottom: 0.75rem;
  left: 0.75rem;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 15px;
}
.container{
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #d3c5c5;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 99999; 
}

.logout{
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 18px;
  margin-left: 1rem;
  cursor: pointer;
}
.center{
  flex: 1;
  display: flex;
  justify-content: center;
}
.left{
  flex: 1;
}

/* navbar */
.navbar {

  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  min-height: 70px;
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.App-header{
  background-color: #fff;
}


/* logo  */
.logo {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* ul  */
.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

/* media queries */

@media screen and (max-width: 780px){
  
  /* hamburger */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  a {
      text-decoration: none;
      color: black;
      font-size: 18px;
    }

    .logo {
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
    }

  .right{
      display: none;
  }
  .left{
      flex: 1;
  }

  .bar {
        background-color: #f00;
        width: 20px;
        height: 3px;
        display: block;
        margin: 5px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

  /* adding active class to the bars  */
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar{
      width: 100%;
  }


  

  /* navMenu */

  .navMenu{
    position: absolute;
    flex-direction: column;
    gap: 0;
    top: 70px;
    left: -100%;
    text-align: start;
    width: 100%;
    transition: 0.7s ease-in-out;
    background-color: aliceblue;
    padding: 10px;
  }

  .navMenu.active{
    left: 0;
  margin-top: -10px;
  }

  .navMenu li {
    margin: 16px 0;
  }
}